<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main</title>
</head>
<body>
<p>Your current position is {{ pos_x }} {{ pos_y }}</p>
    <input type="submit" name="find_monsters" value="Find monsters">
    <input type="submit" name="go_to_city" value="Go to the chosen city">
    <p></p>
    <input type="submit" name="go_north" value="Go North">
    <input type="submit" name="go_south" value="Go South">
    <input type="submit" name="go_west" value="Go West">
    <input type="submit" name="go_east" value="Go East">
    <p><input type="button" name="inventory" value="Your inventory" onclick="history"></p>
</body>
</html>